@{
    ViewBag.Title = "Chat";
}
<h2>Chat</h2>
<div class="container"
     ng-app="app"
     ng-controller="HomeCtrl as vm">
    <div class="container">
        <form class="form-horizontal" name="messageForm" novalidate>
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="userName">Your name:</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           type="text"
                           id="userName"
                           name="userName"
                           placeholder="Anonimous"
                           required
                           ng-model="vm.username" />
                </div>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-warning': messageForm.newMessage.$error.required  && messageForm.newMessage.$touched}">
                <label class="col-sm-2 control-label"
                       for="newMessage">Message:</label>
                <div class="col-sm-10">
                    <input class="form-control"
                           type="text"
                           id="newMessage"
                           name="newMessage"
                           placeholder="your message here"
                           required
                           ng-model="vm.message" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default"
                            type="submit"
                            ng-disabled="messageForm.newMessage.$error.required"
                            ng-click="vm.sendChat();">
                        Send
                    </button>
                </div>
            </div>
        </form>
        <ul class="list-group"
            ng-cloak>
            <li class="list-group-item"
                ng-repeat="c in vm.chats.getMessages()">
                <strong>{{c.UserName}}: </strong>{{c.ChatMessage}}
            </li>
        </ul>
    </div>
</div>
