@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">ChatR changelog</div>
    <div class="panel-body">
        <p>Changes will be described in the list below:</p>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">Version 0.1: Simple chat without any persistant storage.</li>
        <li class="list-group-item">Version 0.2: Added circle with synced movement.</li>
        <li class="list-group-item">Version 0.2.1: Added chat storage in database, hidden angular curly braces.</li>
    </ul>
</div>